*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
    
    
}
body{
    background-color:black;
}
section{ 
    padding: 100px;
}
.banner{
    position: relative;
    min-height: 100vh;
    background: url(images/banner.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn
{
    position: relative;
    background-color: #2196f3 ;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: left;
    transition: 0.5s;
}

header.sticky{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0);
}
header.sticky .logo{
    color: #111;
}

header .logo
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header ul
{
    position: relative;
    display: flex;

}
header.sticky ul li a{
    color: #111;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
.home_social{
    display: flex;
    flex-direction: row;
}
.home_social-icon{
    width: max-content;
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    color: rgb(82, 8, 143);
    letter-spacing: 20px;
}

/* page 1  ends */

.about-container{
    width: 80%;
    height: 330px;
    background-color: #0a0112;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img{
    height: 20em;
    width: 20em;
}
.about-text{
    padding-left: 20px;
    width: 500px;
    color: #fff;
    
}
.about-text p:nth-child(1){
    color: rgb(188, 164, 207);
    font-size: 23px;
    /* font-family: Poppins; */
    font-weight: bold;
    line-height: 10px;
    padding-bottom: 15px;

}
.about-text p:nth-child(2){
    padding-bottom: 20px;
    color: rgb(239, 233, 245);
    font-size: 13px;
    /* font-family: Poppins; */
    font-weight: bold;
    line-height: 5px;

}

.about-text p:nth-child(3){
    color: rgb(239, 233, 245);
    font-size: 16px;
    padding-bottom: 30px;
}
.about-text button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    color: rgb(82, 8, 143);
    outline:  rgb(82, 8, 143);
    border:  rgb(82, 8, 143);
    background-color: #fff;
}

/* ------------------------------------------------------------- */

.Skill_section h1{
    color: white;
    font-size: 40px;

}

.skill{
    width: 500px;
    margin: 50px auto 0;
    padding: 20px;
    
}

.skill_list li{
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

.skill_list li:before{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(189, 182, 206, 0.5);
    border-radius: 1000px;
}


.skill_list li:after{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: rgba(50, 13, 109, 0.644);
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

}

.skill_list li.html:after{
    animation-name: html;
}

@keyframes html{
    to {
        width: 90%;
    }
}

.skill_list li.css:after{
    animation-name: css;
}

@keyframes css{
    to {
        width: 85%;
    }
}.skill_list li.javascript:after{
    animation-name: javascript;
}

@keyframes javascript{
    to {
        width: 60%;
    }
}.skill_list li.flutter:after{
    animation-name: flutter;
}

@keyframes flutter{
    to {
        width: 70%;
    }
}



.heading.white{
    color: #fff;
    text-align: center;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
}

.services .content  .servicesBx{
    padding: 40px 20px;
    background: #222222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.services .content .servicesBx:hover{
    background: #2196f3;
}

.services .content .servicesBx img{
    max-width: 80px;
    filter: invert(1);
}

.services .content .servicesBx h2{
    font-size: 20px;
    font-weight: 600;
}


/*------------------------ Portfolio------------------------------------------- */

.control ul li{
    list-style: none;
    background-color: white;
    padding: 5px 15px;
    color: black;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
}

.item{
    position: relative;
}

.item:hover{

    box-shadow: 2px 2px 12px rgba(5, 5, 5, 0.5);
    transition: 0.5s;
    opacity: 0.5;
        
}


.item span{
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 40px;
    color: white;
    cursor: pointer;
    opacity: 0;
}

.item:hover span{
    opacity: 1;
    transition: 0.2s;
}

.item:before{
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(238,235,230,0.644);
    opacity: 0;
    position: absolute;

}

.item:hover::before{
    opacity: 1;
    transition: 0.3s;
}





/* ----------------------- */
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:7s;
  }
  
  .bg3 {
    animation-duration:8s;
  }
  
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


  /* ---------------------------------------- */
.contact{
      background: #111;
      
  }
  .formbx{
      min-width: 60% ;
      
}
.content{
    column-gap: 13em;
}
  
  .formbx form{
      display: flex;
      flex-direction: column;
      float: center;
  }

  .formbx form h3,
  .contactInfo h3{
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;

  }

  .formbx form input,
  .formbx form textarea{
      margin-bottom: 20px;
      padding: 15px;
      font-size: 16px;
      border: none;
      outline: none;
      background: #222;
      color: #fff;
      resize: none;

  }

  .formbx form textarea{
      min-height: 200px;
  }

  .formbx form input::placeholder,
  .formbx form textarea::placeholder{
      color: #999;
  }

  .formbx form input[type="submit"]{
      max-width: 100px;
      background: #2196f3;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 2px;
  }

  .contactInfo{
      min-width: 20%;
      position: relative;
  }

  .contactInfo .box{
      position: relative;
      padding: 20px 0;
      display: flex;
  }

  

  .contactInfo .box .icon{
      min-width: 40px;
      padding-top: 4px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
  }

  .contactInfo .box .text{
      display: flex;
      margin-left: 20px;
      font-size: 16px;
      color: #fff;
      flex-direction: column;
      font-weight: 300;
  }


  .contactInfo .box .text h3{
      font-weight: 500;
      color: #2196f3;
      margin-bottom: 0;
  }