*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
    
}
body{
    background-color: black;
}
section{ 
    padding: 100px;
}
.banner{
    position: relative;
    min-height: 100vh;
    background: url(images/banner.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn
{
    position: relative;
    background-color: #2196f3 ;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, );
}
header.sticky .logo{
    color: #111;
}

header .logo
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header ul
{
    position: relative;
    display: flex;

}
header.sticky ul li a{
    color: #111;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
.home_social{
    display: flex;
    flex-direction: row;
}
.home_social-icon{
    width: max-content;
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    color: rgb(82, 8, 143);
    letter-spacing: 20px;
}

/* page 1  ends */

.about-container{
    width: 80%;
    height: 330px;
    background-color: #0a0112;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img{
    height: 20em;
    width: 20em;
}
.about-text{
    padding-left: 20px;
    width: 500px;
    color: #fff;
    
}
.about-text p:nth-child(1){
    color: rgb(188, 164, 207);
    font-size: 23px;
    /* font-family: Poppins; */
    font-weight: bold;
    line-height: 10px;
    padding-bottom: 15px;

}
.about-text p:nth-child(2){
    padding-bottom: 20px;
    color: rgb(239, 233, 245);
    font-size: 13px;
    /* font-family: Poppins; */
    font-weight: bold;
    line-height: 5px;

}

.about-text p:nth-child(3){
    color: rgb(239, 233, 245);
    font-size: 16px;
    padding-bottom: 30px;
}
.about-text button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    color: rgb(82, 8, 143);
    outline:  rgb(82, 8, 143);
    border:  rgb(82, 8, 143);
    background-color: #fff;
}